@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Roboto:wght@100;300;400;500;700;900&display=swap");

.home-title,
.msg h2 {
  font-family: "Roboto", Georgia, serif;
}

#logo_link img {
  width: 80px;
}

#logo_link {
  padding-top: 5px;
}

.icon {
  width: 80px;
  padding-top: 10px;
}

#hero-img {
  width: 100%;
}

nav a {
  text-align: center;
  color: #263940;
  text-decoration: none;
  padding: 35px;
}

nav a:hover {
  background-color: #e09f3e;
  color: #263940;
  text-decoration: underline;
}

#hero-msg h1,
#hero-msg h4 {
  text-align: center;
  color: #263940;
}

.button-box {
  text-align: center;
}

main section {
  text-align: center;
}

main section img {
  box-sizing: border-box;
}

#background {
  height: 725px;
  background-color: #263940;
  color: #ffffff;
}

body {
  background-color: #fdf8e1;
  color: #263940;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 22px;
  margin: 0;
  padding: 0;
}

header {
  background-color: rgba(224, 159, 62, 0.85);
  color: #ffffff;
}

.book,
.join {
  background-color: #e09f3e;
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  padding: 15px 30px;
  margin-top: 50px;
  border-radius: 5px;
}

.book:hover,
.join:hover {
  background-color: #fdf8e1;
  color: #263940;
  text-decoration: underline;
}

.msg {
  background-color: #263940;
  color: #ffffff;
  line-height: 1.5em;
  padding: 35px;
}

.msg h2 {
  color: #e09f3e;
}

.msg p {
  color: #ffffff;
  font-size: 0.8em;
  padding-bottom: 15px;
}

footer {
  background-color: #e09f3e;
  color: #ffffff;
  padding: 25px 50px;
  margin-top: 200px;
}

footer .social img {
  padding-top: 15px;
}

footer a {
  color: #ffffff;
  text-decoration: none;
}

footer a:hover {
  color: #fdf8e1;
  text-decoration: underline;
}

.home-title {
  color: #263940;
  font-size: 2em;
  margin-top: 10px;
}

h4 {
  color: #263940;
}

h2 {
  margin: 0;
}

footer p {
  font-size: 1.2em;
}

footer p a:hover {
  text-decoration: underline;
}

.rivers-card,
.camping-card,
.rapids-card {
  margin: 200px 0;
}

.card-img {
  border: 10px solid #e09f3e;
}
