@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: roboto;
  color: white;
  font-size: 3rem;
  word-spacing: 0.2rem;
}

h2 {
  font-family: roboto;
  color: black;
  font-size: 2rem;
  word-spacing: 0.2rem;
}

h5 {
  font-family: roboto;
  color: black;
  font-size: 1.5rem;
  word-spacing: 0.2rem;
}

p {
  font-size: 1rem;
  font-family: roboto;
  color: #666666;
  word-spacing: 0.1rem;
  line-height: 1.7rem;
  font-weight: 400;
}

button {
  font-size: 1rem;
  font-family: roboto;
  font-weight: 500;
  color: black;
  padding: 11px 23px;
  background-color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0c0f27;
  color: white;
}

ul li {
  list-style: none;
  font-size: 1rem;
  font-family: roboto;
  font-weight: 400;
  color: #666666;
  padding-bottom: 0.8em;
}

.grid-container {
  grid-template-columns: repeat(10, 1fr);
  grid-auto-rows: auto;
  gap: 0;
}

.nav-bar {
  display: grid;
  height: 66px;
  margin-right: 70px;
  margin-left: 70px;
}

#logo-name {
  grid-column: 1;
  display: flex;
  align-items: center;
  justify-content: left;
}

.logo_image {
  width: 35px;
}

.atom-name {
  font-size: 20px;
  font-weight: 900;
  font-family: Open Sans;
  letter-spacing: 5px;
  margin-left: 3px;
  color: black;
}

#nav-buttons {
  grid-column: 5 / span 2;
  display: flex;
  justify-content: right;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
  font-family: roboto;
  font-size: 1rem;
  font-weight: 500;
  padding-left: 80px;
}

nav a:hover {
  color: #666666;
}

.hero {
  grid-column: 1 / -1;
  position: relative;
  height: auto;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero_text {
  grid-column: 3 / span 4;
  grid-row: 1;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero_text h1 {
  margin-bottom: 35px;
}

.hero_text p {
  margin-bottom: 35px;
  color: #d3d3d3;
}

.clients {
  text-align: center;
  padding-top: 5em;
  padding-bottom: 9em;
}

.clients h2 {
  margin-bottom: 10px;
}

.clients p {
  margin-bottom: 40px;
}

.company-logos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, auto));
  gap: 10px;
  justify-content: center;
  align-items: center;
}

#company-logo-size {
  display: contents;
  padding: 0;
  margin: 0;
  list-style: none;
}

#company-logo-size img {
  width: 35%;
  height: auto;
  max-width: 100%;
}

.characteristics-container {
  text-align: center;
  padding-bottom: 9em;
}

.characteristics-container h2 {
  margin-bottom: 1.5em;
}

.characteristics-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  justify-content: center;
  align-items: start;
}

.why-container {
  text-align: center;
  padding-left: 40%;
}

.applications-container {
  text-align: center;
  padding-right: 40%;
}

.why-container img,
.applications-container img {
  width: 45px;
  height: auto;
  margin-bottom: 20px;
}

.why-container h5,
.applications-container h5 {
  margin-bottom: 1em;
}

.white_container {
  justify-items: center;
  margin-bottom: 6em;
}

.why-atom {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: #0c0f27;
  width: 65%;
  padding: 40px 40px;
  gap: 3%;
  border: none;
  border-radius: 10px;
}

#myImg {
  width: 400px;
  height: auto;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

#why-paragraph {
  color: white;
  font-size: 1.1rem;
  font-weight: 350;
  margin-bottom: 5%;
  line-height: 30px;
}

#why-container {
  text-align: left;
  align-content: center;
}

footer {
  background-color: #0c0f27;
  padding: 80px 20px;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1200px;
  margin: 0 auto;
  gap: 40px;
}

.footer-section-1,
.footer-section-2,
.footer-section-3 {
  display: flex;
  flex-direction: column; /* Stack content vertically */
}

.footer-section-2,
.footer-section-3 {
  text-align: right; /* Right-align the content */
}

.atom-name-footer {
  color: white;
  font-size: 1.3em;
  font-weight: 900;
  font-family: Open Sans;
  letter-spacing: 5px;
  margin-bottom: 0.5rem;
}

.footer-section-2 {
  justify-content: right;
}

.footer-copy {
  color: #c7c7c7;
  font-family: roboto;
  font-size: 1em;
  font-weight: 300;
  word-spacing: 0.1rem;
  line-height: 2rem;
}

.social-icons {
  display: flex;
  gap: 10px;
  margin-top: 1.5em;
}

.footer-section-2 h4,
.footer-section-3 h6 {
  font-size: 1rem;
  margin-bottom: 10px;
}

.footer-section-2 a {
  text-decoration: none;
  color: #c7c7c7;
  font-family: roboto;
  font-size: 1em;
  font-weight: 300;
  word-spacing: 0.2rem;
  line-height: 2rem;
}

.footer-section-2 h4,
.footer-section-3 h4 {
  color: white;
  font-family: roboto;
  font-size: 1.3em;
  font-weight: 500;
  word-spacing: 0.1rem;
  line-height: 1.7rem;
}

.subscribe-input {
  padding: 10px;
  border: none;
  border-radius: 4px;
  flex: 1;
}

.subscribe-button {
  padding: 10px 20px;
  background-color: #ffffff;
  color: #0a0a23;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.subscribe-button:hover {
  background-color: #0a0a23;
}

.main-container {
  background-color: #0c0f27;
  padding-left: 7%;
  padding-right: 7%;
}

.white-box {
  display: grid;
  grid-template-columns: 1fr;
  background-color: white;
  border-radius: 10px;
  padding: 5% 4%;
}

.hero-technology {
  text-align: center;
  padding: 6% 26% 9% 26%;
}

.hero-technology h1 {
  margin-bottom: 4%;
}

.hero-technology p {
  color: #d3d3d3;
}

.white-box img {
  width: 380px;
  height: 250px;
  border-radius: 10px;
}

.container-1 {
  display: flex;
  padding-bottom: 6%;
  align-items: center;
}

.text-1 {
  margin-left: 5%;
}

.text-1 h2 {
  margin-bottom: 2%;
}

.container-2 {
  display: flex;
  padding-bottom: 6%;
  align-items: center;
}

.text-2 {
  margin-right: 5%;
}

.text-2 h2 {
  margin-bottom: 2%;
}

.container-3 {
  display: flex;
  padding-bottom: 6%;
  align-items: center;
}

.text-3 {
  margin-left: 5%;
}

.text-3 h2 {
  margin-bottom: 2%;
}

.container-4 {
  display: flex;
  padding-bottom: 6%;
  align-items: center;
}

.text-4 {
  margin-right: 5%;
}

.text-4 h2 {
  margin-bottom: 2%;
}

.button_container {
  background-color: #0c0f27;
  color: white;
  margin: 10px auto 4%;
}

.button_container:hover {
  background-color: #c7c7c7;
  color: #0c0f27;
}
